.popup {
  width: 100%;
  position: fixed;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup_open {
  display: flex;
}

.popup__content {
  background-color: white;
  color: #000000;
  box-shadow: 0px 0px 25px rgb(0 0 0 / 15%);
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: 34px 36px;
  border: none;
  box-sizing: border-box;
}

.popup__close-button {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -40px;
  background-image: url(../images/close_icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
}

.popup__close-button:hover {
  opacity: 0.6;
  transform: rotate(45deg);
  cursor: pointer;
}

.popup__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 54px;
  color: #000;
}

.popup__form {
  width: 358px;
}

.popup__formfield {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 17px;
  height: 27px;
  padding-bottom: 13px;
}

.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 13px;
}

.popup__button {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 18px;
}

.popup__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__content {
    padding: 22px 25px;
  }

  .popup__close-button {
    top: -45px;
    right: 0;
    width: 26px;
    height: 26px;
  }

  .popup__title {
    width: 238px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 76px;
  }

  .popup__form {
    width: 100%;
    padding: 0;
  }

  .popup__input {
    color: #000000;
    padding-bottom: 9px;
  }

  .popup__button {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-height: 46px;
    margin-top: 16px;
  }
}
